<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430158491297-a5b2ncn5jk3lh883oo7ns4rhakrtcuh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430158491297-a5b2ncn5jk3lh883oo7ns4rhakrtcuh9</string>
	<key>API_KEY</key>
	<string>AIzaSyA9_nJYvf164xd5G4MApAJnUeoLPaCN5bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>430158491297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.draygom.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-c01</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430158491297:ios:c385368ca483f81467cae0</string>
</dict>
</plist>